<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	【ログイン画面.html】
-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ログイン画面</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet" crossorigin="anonymous">

	<!-- CSS core -->
	<link href="login_index.css"  th:href="@{/css/security/login_index.css}" rel="stylesheet" crossorigin="anonymous">

	<!--  Jquery core  -->
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/app_common.js}"></script>
</head>

<body>
	<!--　ログイン画面背景 -->
	<div id="home_back">
		<img th:src="@{/images/background_login_index.jpg}">
	</div>

	<main role="main" class="container">
		<div class="starter-template">
			<h1>ログインページ</h1 >

			<div th:if="${param.error}" class="alert alert-danger">
				ユーザー名またはパスワードが正しくありません。
			</div>

			<form method="post" action="index.html" th:action="@{/login}">
				<div class="mb-3">
					<label for="username" class="form-label">ユーザー名：</label>
					<input type="email" class="form-control form-input-original" id="username" name="username" placeholder="example@example.com" />
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">パスワード:</label>
					<input type="password" class="form-control form-input-original" id="password" name="password"  placeholder="●●●●" />
				</div>
				<button type="submit" class="btn btn-primary mb-3">ログイン</button>
			</form>
		</div>
	</main>

	<!-- フッター -->
	<div th:replace="~{/block/footer::footerA}"></div>
</body >

</html>