<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}">Inquiry home.</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet" crossorigin="anonymous">
    
    <link href="starter-template.css"  th:href="@{/css/home/same_form.css}" rel="stylesheet" crossorigin="anonymous">
    
    <!--  Jquery core  -->
    <script th:src="@{/js/jquery-slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{/block/header::headerA}"></div>
	
	<!-- メイン画面 -->
	<main role="main" class="container">
		<!-- タイトル -->
		<div class="starter-template">
	 		<h1 th:text="${title}">example</h1><br>
	 		<p class="lead" th:text="${cont}">context</p>
	 	</div>
	 	
	 	<!-- アラート -->
		<div th:unless="${#strings.isEmpty(complete)}">
			<div th:text="${complete}"class="alert alert-success"></div>
		</div>
	 	
	 	<!-- 登録フォーム -->
	 	<form method="post" action="#" th:action="@{/blog/confirm}" th:object="${blogForm}">
	 		<div class="form-group">
	    		<label for="name">タイトル</label>
	    		<input type="text" name="blogTitle" class="form-control" id="blogTitle" th:value="*{blogTitle}">
	  		</div>
	 		<div class="text-danger mb-4" th:if="${#fields.hasErrors('blogTitle')}" th:errors="*{blogTitle}"></div>
	 		<div class="form-group">
	    		<label for="tag">タグ</label>
	    		<input type="text" name="tag" class="form-control" id="tag" th:value="*{tag}">
	  		</div>
	 		<div class="text-danger mb-4" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}"></div> 		
	 		<div class="form-group">
	 			<label for="blogContents">内容</label>
	 			<textarea name="blogContents" class="form-control" id="blogContents" rows="3" cols="40" th:value="*{blogContents}" th:text="*{blogContents}"></textarea>
	 		</div>
	 		<div class="text-danger mb-4" th:if="${#fields.hasErrors('blogContents')}" th:errors="*{blogContents}"></div>
	 		
	 		<input type="hidden" name="editor" th:value="${editor}" />
	 		<input type="hidden" name="thanksCnt" class="form-control" id="thanksCnt" th:value="*{thanksCnt}" />
	 		
			<a class="btn btn-primary" href="#" role="button" th:href="@{/blog/}">一覧へ戻る</a>
			<button type="submit" class="btn btn-primary">確認する</button>
	 	</form> 
	 </main>
	 
	 <!-- フッター -->
	 <div th:replace="~{/block/footer::footerA}"></div>
</body>
</html>