<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	【ページング(ブログ用).html】
-->
<div th:fragment="pagingBlog">
	<!-- ページング -->
	<form name="pagingBlogForm" th:action="${paging.pageName}" method="post" th:object="${blogSelectedForm}">
		<input type="hidden" name="selectIdx" th:field="*{selectIdx}">
		<input type="hidden" name="isDesc"    th:field="*{isDesc}">
		<input type="hidden" name="pagingIdx" th:field="*{pagingIdx}">

		<div class="paging">
	 		<!-- 前へ -->
		 	<div class="lefter page-lt">
		 		<a href="#" th:unless="${paging.currentPageIdx} == 1" onclick="javascript:OnLinkClick_Back();">前へ</a>
		 		<div th:if="${paging.currentPageIdx} == 1">前へ</div>
		 	</div>
		 	<div class="lefter"><<< </div>

		 	<!-- ページ番号 -->
		 	<div th:each="pageIdx : ${paging.pageNumberList}">
		 		<a class="lefter page-number" href="#" th:unless="${paging.currentPageIdx} == ${pageIdx}" th:onclick="'OnLinkClick_Paging(' + ${pageIdx} + ');'"  th:text="${pageIdx}">1</a>
		 		<div class="lefter page-number" th:if="${paging.currentPageIdx} == ${pageIdx}" th:text="${pageIdx}">1</div>
		 	</div>
		 	<div class="lefter"> >>></div>

		 	<!-- 次へ -->
		 	<div class="lefter page-lt">
		 		<a href="#" th:unless="${paging.currentPageIdx} == ${paging.pageSize}" onclick="OnLinkClick_Next();">次へ</a>
		 		<div th:if="${paging.currentPageIdx} == ${paging.pageSize}">次へ</div>
		 		<div id="pageSize" th:text="${paging.pageSize}" hidden></div>
		 	</div >

	 	</div><!-- class="paging" end -->
	 	<div class="lefter-clear"></div><br>
	</form ><!-- form end -->
</div><!-- th:fragment="pagingBlog" end -->
</html>