/**
  * 【intro_after.css】
  */

/** ----------------------------------------------------------------------- */

/** 今後やりたいこと */
.after-after {
	display:flex;
	position: relative;
}

/** 今後やりたいこと div */
.after-after div{
	padding-right: 10px;
}

.after-after:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.3rem;
	width: 0%;
	height: 2px;
	background: rgb(0, 210, 255);
	transition: all 0.5s;	
}

.after-after-parent:hover .after-after:after {
	width: 100%;
}

/** ----------------------------------------------------------------------- */