@charset "UTF-8";

/**
  * 【survey_satis.css】
  */

/** ----------------------------------------------------------------------- */

/** 全体共通部 */
@import url("../common/app_common.css");

/** ----------------------------------------------------------------------- */

.rounded{
	margin-bottom: 20px;
}

.main-button{
	margin-bottom: 10px;
}

/** 全てボタン **/
.all-button{
	margin-bottom: 5px;
}

.all-button label{
	margin-right: 15px;
}

/** 性別ボタン **/
.sx-button{
	margin-bottom: 5px;
}

.sx-button label{
	margin-right: 15px;
}

/** 職業ボタン **/
.prof-button{
	margin-bottom: 5px;
}

/** 年齢ボタン **/
.age-button{
	margin-bottom: 60px;
}