<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	【調査投稿確認.html】
-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}">Inquiry home.</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
	
	<!-- Custom styles for this template -->
	<link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet" crossorigin="anonymous">
	<link href="starter-template.css"  th:href="@{/css/home/same_form.css}" rel="stylesheet" crossorigin="anonymous">
	<link href="survey_index.css"  th:href="@{/css/survey/survey_index.css}" rel="stylesheet" crossorigin="anonymous">
	
	<!--  Jquery core  -->
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/app_common.js}"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{/block/header::headerA}"></div>
	 
	<!-- メイン画面 -->
	<main role="main" class="container">
		<!-- タイトル -->
		<div class="starter-template">
	 		<h1 th:text="${title}">example</h1><br>
	 		<p class="lead" th:text="${cont}">context</p>
	 	</div>
	 	
	 	<!-- 入力内容一覧 -->
	 	<p>入力内容を確認してください</p>
	 	<div th:object="${surveyForm}">
	 		<div class="mb-5">
	 			<ul class="list-group">
	 				<!-- 名前 -->
	 				<li th:text="*{name}" class="list-group-item"></li>
	 				<!-- 年齢 -->
	 				<li th:text="*{age}" class="list-group-item"></li>
	 				<!-- 職業 -->
	 				<li th:switch="*{profession}"  class="list-group-item">
	 					<p th:case="1" th:text="学生">学生</p>
	 					<p th:case="2" th:text="会社員">会社員</p>
	 					<p th:case="3" th:text="芸能人">芸能人</p>
	 					<p th:case="4" th:text="主婦">主婦</p>
	 					<p th:case="*" th:text="その他">その他</p>
	 				</li>
	 				<!-- 男 or 女 -->
	 				<li th:text="*{men_or_female == 1} ? '男性' : '女性'" class="list-group-item"></li>
	 				<!-- 満足度 -->
	 				<li th:text="*{satisfaction}" class="list-group-item"></li>
	 				<!-- コメント -->
	 				<li th:text="*{comment}" class="list-group-item"></li>
	 			</ul>
	 		</div>
	 		<div class="btn-toolbar">
	 			<!-- 戻るボタン -->
		 		<form method="post" action="#" th:action="@{/survey/form}">
		 			<input type="hidden" name="name" th:value="*{name}">
		 			<input type="hidden" name="age" th:value="*{age}">
		 			<input type="hidden" name="profession" th:value="*{profession}">
		 			<input type="hidden" name="men_or_female" th:value="*{men_or_female}">
		 			<input type="hidden" name="satisfaction" th:value="*{satisfaction}">
		 			<input type="hidden" name="comment" th:value="*{comment}">
		 			<button type="submit" class="btn btn-primary">戻る</button>
		 		</form>
		 		<!-- 送信ボタン -->
		 		<form method="post" action="#" th:action="@{/survey/complete}">
		 			<input type="hidden" name="name" th:value="*{name}">
		 			<input type="hidden" name="age" th:value="*{age}">
		 			<input type="hidden" name="profession" th:value="*{profession}">
		 			<input type="hidden" name="men_or_female" th:value="*{men_or_female}">
		 			<input type="hidden" name="satisfaction" th:value="*{satisfaction}">
		 			<input type="hidden" name="comment" th:value="*{comment}">
		 			<button type="submit" class="btn btn-primary">送信する</button>
		 		</form>
	 		</div>
	 	</div>
	 </main>
	 
	<!-- フッター -->
	<div th:replace="~{/block/footer::footerA}"></div>
</body>
</html>