@charset "UTF-8";

.inquirylayout{
	margin: 20px auto;
	padding: 5px 10px 20px 20px;
	background: #dddddd;
	box-shadow:2px 2px 7px;
}

.replylayout{
	margin: 20px auto;
	margin-left: 100px;
	padding: 5px 10px 20px 20px;
	background: #dddddd;
	box-shadow:2px 2px 7px;
}

.inquiry-name{
	padding: 20px;
	text-decoration:underline; 
	text-decoration-color:#111111;
}

.inquiry-email{
	padding: 20px;
	padding-top: 22px;
	padding-bottom: 18px;
	text-decoration:underline; 
	text-decoration-color:#111111;
}

.inquiry-created{
	padding-top: 30px;
	padding-bottom: 10px;
	padding-top: 22px;
	padding-bottom: 18px;
	text-decoration:underline; 
	text-decoration-color:#111111;
}

.inquiry-delete-form{
	float: right;
	padding: 10px;
}

.inquiry-comment{
	padding: 20px;
	margin-top: 5px;
	background-color: white;
	box-shadow:2px 2px 7px;
}
