<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--
	【自己紹介.html】
-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}">Inquiry home.</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
	
	<!-- Custom styles for this template -->
	<link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet" crossorigin="anonymous">
	<link href="starter-template.css"  th:href="@{/css/intro/intro_index.css}" rel="stylesheet" crossorigin="anonymous">
	
	<!--  Jquery core  -->
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootbox.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/app_common.js}"></script>
	<script type="text/javascript" th:src="@{/js/intro/intro_index.js}"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{/block/header::headerA}"></div>
	<div id="home_back">
		<img th:src="@{/images/background_intro_index.jpg}">
	</div>
	 
	<!-- メイン画面 -->
	<main role="main" class="container">
		
		<div class="starter-template">
			<!-- タイトル -->
			<div class="fadeclass">
				<h1 th:text="${title}"></h1><br>
	 			<h2 class="lead" th:text="${cont}"></h2>
			</div >
	 		
	 		<!-- 紹介文 -->
	 		<div class="fadeclass">
	 			<h3 th:text="${introTitle}"></h3>
	 			<div class="h3-after" th:text="${intro}"></div>
	 		</div>
	 		
	 		
	 		<!-- 経験 -->
	 		<div class="fadeclass">
	 			<div th:replace="~{/intro/experience::experienceFragment}"></div>
	 		</div >
	 		
	 		
	 		<!-- 今後やりたいこと -->
	 		<div class="fadeclass">
	 			<h3 th:text="${afterTitle}"></h3>
	 			<div class="h3-after after-after-parent" th:each="after, afterStat : ${afterList}">
	 				<div class="after-after">
	 					<div>●</div>
	 					<div th:text="${after}"></div>
	 				</div>
	 			</div>
	 		</div>
	 		
	 		
	 		<!-- スキル(言語) -->
	 		<div class="fadeclass">
	 			<h3 th:text="${skillLanguageTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="skillLanguage : ${skillLanguageList}" th:text="${skillLanguage}"></div>
	 			</div>
	 		</div>
	 		
	 		
	 		<!-- スキル(ライブラリ) -->
	 		<div class="fadeclass">
	 			<h3 th:text="${skillLibraryTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="skillLibrary : ${skillLibraryList}" th:text="${skillLibrary}"></div>
	 			</div>
	 		</div>
	 		<!-- スキル(FW) -->
	 		<div class="fadeclass">
	 			<h3 th:text="${skillFrameworkTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="skillFramework : ${skillFrameworkList}" th:text="${skillFramework}"></div>
	 			</div>
	 		</div>
	 		
	 		<!-- スキル(OS) -->
	 		<div class="fadeclass">
	 			<h3 th:text="${skillOSTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="skillOS : ${skillOSList}" th:text="${skillOS}"></div>
	 			</div>
	 		</div>
	 		
	 		<!-- スキル(Tool) -->
	 		<div class="fadeclass">
	 			<h3 th:text="${skillToolTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="skillTool : ${skillToolList}" th:text="${skillTool}"></div>
	 			</div>
	 		</div>
	 		
	 		<!-- スキル(その他) -->
	 		<div class="fadeclass">
	 			<h3 th:text="${skillOtherTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="skillOther : ${skillOtherList}" th:text="${skillOther}"></div>
	 			</div>
	 		</div>
	 		
	 		<!-- URL -->
	 		<div class="fadeclass">
	 			<h3 th:text="${urlTitle}"></h3>
	 			<div class="h3-after">
	 				<a th:href="${url}" th:text="${url}"></a>
	 			</div>
	 		</div>
	 		
	 		<!-- 趣味 -->
	 		<div class="fadeclass">
	 			<h3 th:text="${hobbyTitle}"></h3>
	 			<div class="h3-after" >
	 				<div class="div-after" th:each="hobby : ${hobbyList}" th:text="${hobby}"></div>
	 			</div>
	 		</div>
	 		
	 		<!-- 最後に一言 -->
	 		<div class="fadeclass">
	 			<h3 th:text="${wordTitle}"></h3>
	 			<div class="h3-after" th:text="${word}"></div>
	 		</div>
	 	</div>	
	</main>
	
	<!-- フッター -->
	<div th:replace="~{/block/footer::footerA}"></div>
</body>
</html>