@charset "UTF-8";

/**
 * ブログ返信フォーム[css]
 * 【blog_reply.css】
 */

/** ----------------------------------------------------------------------- */

/** 全体共通部 */
@import url("../common/app_common.css");

/** ----------------------------------------------------------------------- */

/** ブログレイアウト */
.bloglayout{
	margin: 10px auto;
	padding: 10px;
	background-color: #dddddd;
	margin-bottom: 60px;
	box-shadow:2px 2px 7px;
}

/** ブログタイトル */
.blog-title{
	padding: 20px;
}

/** ブログ日付 */
.blog-date{
	padding-right: 5px;	
}

/** いいね欄 / タグ欄 */
.cnt_tag{
	margin-top: 20px;
}

/** いいね欄 */
.thanks{
	padding-left: 30px;
	padding-right: 30px;
	
	margin-right: 10px;
}

/** ラグ欄 */
.tag{
	padding-left: 20px;
	padding-right: 20px;
}

/** コメント */
.comment{
	padding: 20px;
	margin-top: 60px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow:2px 2px 7px;
}
