<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}">Inquiry home.</title>
	
	    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet" crossorigin="anonymous">
    
    <link href="inquiry_index.css"  th:href="@{/css/inquiry/inquiry_index.css}" rel="stylesheet" crossorigin="anonymous">
    
    <!--  Jquery core  -->
    <script th:src="@{/js/jquery-slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/inquiry/inquiry_index.js}"></script>
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{/block/header::headerA}"></div>
	 
	<!-- メイン画面 -->
	<main role="main" class="container">
		<!-- タイトル -->
		<div class="starter-template">
	 		<h1 th:text="${title}">example</h1><br>
	 		<p class="lead" th:text="${cont}">context</p>
	 		<a class="btn btn-primary" href="#" role="button" th:href="@{/inquiry/form}">お問い合わせフォームへ</a>
	 	</div>
	 	
	 	<!-- メイン -->
 		<div class="inquirylayout rounded" th:each="inquiry : ${inquiryList}">
	 		<!-- 名前 -->
	 		<h3 class="lefter inquiry-name" th:text="${inquiry.name}"></h3>
	 		<!-- メールアドレス -->
	 		<div class="lefter inquiry-email" th:text="${inquiry.email}"></div>
	 		
	 		<!-- 生成日付 -->
	 		<div class="lefter inquiry-created" th:text="${inquiry.created}"></div>
	 		
	 		<!-- 削除フォーム -->
			<form class="lefter inquiry-delete-form" th:action="@{/inquiry/delete}" method="post" onclick="return checkDelete();">
				<input type="submit" name="delete" class="btn btn-outline-dark" value="✕"  />
				<input type="hidden" name="id" th:value="${inquiry.id}" />	
			</form>
	 					
	 		<!-- 問い合わせ内容 -->
	 		<div class="lefter-clear inquiry-comment" th:text="${inquiry.comment}"></div>
	 		
	 		<!-- 返信フォーム -->
			<form class="inquiry-reply-form" th:action="@{/inquiry/reply}" method="post">
				<input type="submit" name="delete" class="btn btn-outline-dark" value="返信する"  />
				<input type="hidden" name="id" th:value="${inquiry.id}" />	
			</form>
	 		
	 		<div class="lefter-clear"></div>
	 		
	 		<div  th:each="inquiry_reply : ${inquiry.replyList}">
	 			<div class="replylayout rounded" th:if="${inquiry.id} == ${inquiry_reply.inquiry_id}">
		 			<h5 class="lefter reply-name" th:text="${inquiry_reply.name}"></h5>
		 			<div class="lefter reply-email" th:text="${inquiry_reply.email}"></div>
		 			<div class="reply-created" th:text="${inquiry_reply.created}"></div>
		 			<div class="lefter-clear reply-comment" th:text="${inquiry_reply.comment}"></div>
		 			<div class="lefter-clear"></div>
	 			</div>
	 		</div>
	 	</div>
	 	
	 	<!-- ページングバー -->
		<div th:replace="~{/block/paging::pagingA}"></div>
	 </main>
	 
	 <!-- フッター -->
	<div th:replace="~{/block/footer::footerA}"></div>
</body>
</html>