<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}">Inquiry home.</title>
	
	    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet" crossorigin="anonymous">
    
    <link href="starter-template.css"  th:href="@{/css/inquiry/inquiry_reply.css}" rel="stylesheet" crossorigin="anonymous">
    
    <!--  Jquery core  -->
    <script th:src="@{/js/jquery-slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
   
</head>
<body>
	<!-- ナビゲーションバー -->
	<div th:replace="~{/block/header::headerA}"></div>
	 
	<!-- メイン画面 -->
	<main role="main" class="container">
		<!-- タイトル -->
		<div class="starter-template">
	 		<h1 th:text="${title}">example</h1><br>
	 		<p class="lead" th:text="${cont}">context</p>
	 	</div>
	 	
	 	<!-- メイン -->
 		<div class="inquirylayout rounded">
	 		<!-- 名前 -->
	 		<h5 class="lefter inquiry-name" th:text="${inquiry.name}"></h5>
	 		<!-- メールアドレス -->
	 		<div class="lefter inquiry-email" th:text="${inquiry.email}"></div>
	 			
	 			<!-- 生成日付 -->
	 		<div class="lefter inquiry-created" th:text="${inquiry.created}"></div>
	 		 					
	 		<!-- 問い合わせ内容 -->
	 		<div class="lefter-clear inquiry-comment" th:text="${inquiry.comment}"></div>
	 		
	 		<div class="lefter-clear"></div>
	 	</div>
	 	
	 	<!-- アラート -->
		<div th:unless="${#strings.isEmpty(complete)}">
			<div th:text="${complete}"class="alert alert-success"></div>
		</div>
	 	
	 	<!-- 登録フォーム -->
	 	<form method="post" action="#" th:action="@{/inquiry/reply_confirm}" th:object="${inquiryReplyForm}">
	 		<div class="form-group">
	    		<label for="name">お名前</label>
	    		<input type="text" name="name" class="form-control" id="name" th:value="*{name}">
	  		</div>
	 		<div class="text-danger mb-4" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	 		<div class="form-group">
	 			<label for="email">メールアドレス</label>
	 			<input type="text" name="email" class="form-control" id="email"  th:value="*{email}">
	 		</div>
	 		<div class="text-danger mb-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
	 		<div class="form-group">
	 			<label for="comment">コメント</label>
	 			<textarea name="comment" class="form-control" id="detail" rows="3"  th:value="*{comment}" th:text="*{comment}"></textarea>
	 		</div>
	 		<div class="text-danger mb-4" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
			<input type="hidden" name="id" th:value="${inquiry.id}">
			<a class="btn btn-primary" href="#" role="button" th:href="@{/inquiry/}">一覧へ戻る</a>
			<button type="submit" class="btn btn-primary">確認する</button>
	 	</form>
	 </main>
	 
	 <!-- フッター -->
	<div th:replace="~{/block/footer::footerA}"></div>
</body>
</html>