<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	【ヘッダー.html】
-->
<!-- header -->
<header th:fragment="headerA">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<!-- タイトル名 -->
		<a class="navbar-brand" href="#">life is smile always</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="ナビゲーションの切替">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-header">
			<ul class="navbar-nav mr-auto">
				<!-- ホーム -->
				<li class="nav-item active">
					<a class="nav-link" href="#" th:href="@{/home}">ホーム <span class="sr-only">(現位置)</span></a>
				</li>
				
				<!-- 自己紹介 -->
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/intro/}">自己紹介</a>
				</li>
				
				<!-- ブログ欄 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ブログ</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#" th:href="@{/blog/}">一覧</a>
						<a class="dropdown-item" href="#" th:href="@{/blog/form}">投稿</a>
					</div>
				</li>
				
				<!-- アンケート欄 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アンケート</a>
				  	<div class="dropdown-menu" aria-labelledby="dropdown02">
						<a class="dropdown-item" href="#" th:href="@{/survey}">一覧</a>
						<a class="dropdown-item" href="#" th:href="@{/survey/form}">投稿</a>
						<a class="dropdown-item" href="#" th:href="@{/survey/satis}">統計</a>
				  	</div>
				</li>
				
				<!-- お問い合わせ欄 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">お問い合わせ</a>
				  	<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item" href="#" th:href="@{/inquiry}">一覧</a>
						<a class="dropdown-item" href="#" th:href="@{/inquiry/form}">登録</a>
				  	</div>
				</li>
			</ul>
			
			<!-- ログインユーザー -->
			<div th:id="noLoginId">
				<div th:id="noLoginIdChild" hidden th:text="${noLoginId}"></div>
				<!-- ログインなし -->
				<form class="form-inline my-2 my-lg-0 login-form" th:id="noLogin" th:object="${headerForm.userLoginForm}" th:action="@{/user/login}" method="post">
					<input class="form-control mr-sm-2" type="text" name="name"     th:id="name"     th:value="*{name}"     placeholder="ログインユーザー" aria-label="ログインユーザー" />
					<input class="form-control mr-sm-2" type="text" name="password" th:id="password" th:value="*{password}" placeholder="パスワード"     aria-label="パスワード" />
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">ログイン</button>
				</form>
			</div >
			<div th:id="yesLoginId">
				<div th:id="yesLoginIdChild" hidden th:text="${yesLoginId}"></div>
				<!-- ログイン中 -->
				<form class="form-inline my-2 my-lg-0 login-form" th:id="yesLogin" th:object="${headerForm.userLogoutForm}" th:action="@{/user/logout}" method="post">
					<input class="form-control" type="hidden" name="nowLogoutId" th:id="nowLogoutId" th:value="*{nowLogoutId}" />
					<input class="form-control-plaintext mr-sm-2 form-white-color" type="text" readonly th:id="logoutUserName" th:value="${logoutUserName}">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">ログアウト</button>
				</form>
			</div  >
		</div>
	</nav>
	
	<!-- 上に戻る -->
	<p class="pagetop"><a href="#">▲</a></p>
</header>

</html>